# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python / Backend
backend/venv/
backend/__pycache__/
*.pyc
*.pt
!backend/*.pt # Keep locally trained models if necessary, but usually ignore large files
backend/runs/ # YOLO training logs

# System
.DS_Store
